{% extends 'admin/base.html' %}

{% block content %}
    <div>
        <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <div>
                <a style="display:block;margin-bottom: 10px" href="{% url 'download' %}">下载导入文件模板</a>
                <label for="select-file"
                       style="background-color: #79aec8;width: 40px;height: 30px;border:1px white;border-radius: 2px">点击选择文件</label>
                <input type="file" name="grade-data" id="select-file"
                       accept=".xlsx,text/csv,application/vnd.ms-excel">
            </div>
            <div class="check_info">
                <p>还未选择文件</p>
            </div>
            <script>
                <!--接受excel(.xls,.csv,.xlsx)-->
                const fileTypes = ['text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel']
                const input = document.getElementById("select-file");
                const check_info = document.querySelector('.check_info')
                input.style.opacity = 0;
                input.addEventListener('change', changeInfo);
                const submit = document.getElementById("submit-up");

                function checkForm() {
                    const file = document.getElementById("select-file");
                    const input_file = file.files;
                    if (input_file === undefined || input_file.length === 0) {
                        alert("当前未选择文件!")
                        return false;
                    } else {
                        return true;
                    }
                }

                function changeInfo() {
                    while (check_info.firstChild) {
                        check_info.removeChild(check_info.firstChild);
                    }
                    const currentFile = input.files;
                    if (currentFile.length === 0) {
                        const para = document.createElement('p');
                        para.textContent = '还未选择文件';
                        check_info.appendChild(para);
                    } else {
                        //已经选择文件了
                        for (const file of currentFile) {
                            const para = document.createElement('p');
                            if (validFileType(file)) {
                                //文件类型正确
                                para.textContent = `已选择文件:${file.name},文件大小为:${returnFileSize(file.size)}`;
                                check_info.appendChild(para)
                            }
                        }
                    }
                }

                function validFileType(file) {
                    return fileTypes.includes(file.type);
                }

                function returnFileSize(number) {
                    if (number < 1024) {
                        return number + 'bytes';
                    } else if (number >= 1024 && number < 1048576) {
                        return (number / 1024).toFixed(1) + 'KB';
                    } else if (number >= 1048576) {
                        return (number / 1048576).toFixed(1) + 'MB';
                    }
                }
            </script>
            <button style="display: block;margin-top:20px;width: 80px;height: 25px;background: #b0ff15;border-radius: 3px;border:1px white;text-align: center"
                    type="submit" id="submit-up" onclick="return checkForm()">点击上传
            </button>
        </form>
    </div>
    <br/>

{% endblock %}